#### –®–∞–≥ 1: –ò–º–ø–æ—Ä—Ç—ã —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö
–í Spark —Å–≤–æ–∏ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –æ—Ç–ª–∏—á–Ω—ã–µ –æ—Ç —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã—Ö Python.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from datetime import date

spark = SparkSession.builder.appName("DataFrame_Basics").getOrCreate()

#### –®–∞–≥ 2: –°–æ–∑–¥–∞–Ω–∏–µ DataFrame "–Ω–∞ –ª–µ—Ç—É" (–±–µ–∑ —Å—Ö–µ–º—ã)
Spark —É–≥–∞–¥–∞–µ—Ç —Ç–∏–ø—ã (Infer Schema).

In [2]:
# –¥–∞–Ω–Ω—ã–µ - —Å–ø–∏—Å–æ–∫ –∫–æ—Ä—Ç–µ–∂–µ–π
data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Finance", 4100)
]

# –∫–æ–ª–æ–Ω–∫–∏
columns = ["Employee_Name", "Department", "Salary"]

# —Å–æ–∑–¥–∞–Ω–∏–µ
df_inferred = spark.createDataFrame(data, schema=columns)

df_inferred.printSchema()
df_inferred.show()

root
 |-- Employee_Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|   Finance|  4100|
+-------------+----------+------+

#### –®–∞–≥ 3: –ü—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω–æ–µ —Å–æ–∑–¥–∞–Ω–∏–µ (–Ø–≤–Ω–∞—è —Å—Ö–µ–º–∞) üèÜ
–≠—Ç–æ —Å—Ç–∞–Ω–¥–∞—Ä—Ç Senior-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∞. –ú—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º StructType –∏ StructField.

In [3]:
# –û–ø—Ä–µ–¥–µ–ª—è–µ–º —Å—Ö–µ–º—É
schema = StructType([
    StructField("Employee_Name", StringType(), True), # True = –ø–æ–ª–µ –º–æ–∂–µ—Ç –±—ã—Ç—å null
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), False)       # False = –ø–æ–ª–µ –ù–ï –º–æ–∂–µ—Ç –±—ã—Ç—å null
])

# –°–æ–∑–¥–∞–µ–º DataFrame, –ø—Ä–∏–º–µ–Ω—è—è —Å—Ö–µ–º—É
df_strict = spark.createDataFrame(data, schema=schema)

df_strict.printSchema()
# –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ: —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Ç–µ–ø–µ—Ä—å —Ç–æ—á–Ω–æ —Ç–∞–∫–∏–µ, –∫–∞–∫ –º—ã —Å–∫–∞–∑–∞–ª–∏ (Integer, –∞ –Ω–µ Long).

root
 |-- Employee_Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = false)

#### –®–∞–≥ 4: –î–æ—Å—Ç—É–ø –∫ –∫–æ–ª–æ–Ω–∫–∞–º
–í PySpark –µ—Å—Ç—å –¥–≤–∞ —Å–ø–æ—Å–æ–±–∞ –æ–±—Ä–∞—Ç–∏—Ç—å—Å—è –∫ –∫–æ–ª–æ–Ω–∫–µ.
1. String style: "Salary" ‚Äî –ø—Ä–æ—Å—Ç–æ –∏ –±—ã—Å—Ç—Ä–æ, –Ω–æ –Ω–µ–ª—å–∑—è –¥–µ–ª–∞—Ç—å —Å–ª–æ–∂–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏.
2. Object style: df_strict.Salary –∏–ª–∏ F.col("Salary"). –†–µ–∫–æ–º–µ–Ω–¥—É–µ–º—ã–π —Å–ø–æ—Å–æ–±.

In [4]:
from pyspark.sql import functions as F

# –í—ã–±—Ä–∞—Ç—å –∫–æ–ª–æ–Ω–∫—É
df_strict.select("Employee_Name", F.col("Salary") * 2).show()

+-------------+------------+
|Employee_Name|(Salary * 2)|
+-------------+------------+
|        James|        6000|
|      Michael|        9200|
|       Robert|        8200|
+-------------+------------+