### –®–∞–≥ 1: –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ø—Ä–æ–±–ª–µ–º–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

spark = SparkSession.builder.appName("Types_Lab").getOrCreate()

data = [
    ("1", "2023-01-01", "100", None),           # –•–æ—Ä–æ—à–∞—è —Å—Ç—Ä–æ–∫–∞
    ("2", "01/02/2023", "ERROR", 50.0),         # –ü–ª–æ—Ö–∞—è –¥–∞—Ç–∞, –ø–ª–æ—Ö–æ–µ —á–∏—Å–ª–æ
    ("3", "2023-02-01", None, float('nan')),    # Null –≤ —Å—É–º–º–µ, NaN –≤ —Å–∫–∏–¥–∫–µ
    ("4", None, "200", 0.0)                     # Null –≤ –¥–∞—Ç–µ
]

# –ò–∑–Ω–∞—á–∞–ª—å–Ω–æ —á–∏—Ç–∞–µ–º –≤—Å–µ –∫–∞–∫ —Å—Ç—Ä–æ–∫–∏ (–∫–∞–∫ —á–∞—Å—Ç–æ –±—ã–≤–∞–µ—Ç —Å CSV)
columns = ["id", "event_date", "amount_str", "discount"]

df_dirty = spark.createDataFrame(data, schema=columns)
df_dirty.show()
df_dirty.printSchema() # –í—Å–µ string (–∫—Ä–æ–º–µ discount, –∫–æ—Ç–æ—Ä—ã–π double)

+---+----------+----------+--------+
| id|event_date|amount_str|discount|
+---+----------+----------+--------+
|  1|2023-01-01|       100|    NULL|
|  2|01/02/2023|     ERROR|    50.0|
|  3|2023-02-01|      NULL|     NaN|
|  4|      NULL|       200|     0.0|
+---+----------+----------+--------+

root
 |-- id: string (nullable = true)
 |-- event_date: string (nullable = true)
 |-- amount_str: string (nullable = true)
 |-- discount: double (nullable = true)

### –®–∞–≥ 2: –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ (Casting) –∏ –ü–∞—Ä—Å–∏–Ω–≥ –¥–∞—Ç
–ú—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º .cast() –¥–ª—è —Å–º–µ–Ω—ã —Ç–∏–ø–∞ –∏ to_date() –¥–ª—è –¥–∞—Ç.

In [2]:
# –ß–∏—Å—Ç–∏–º –¥–∞–Ω–Ω—ã–µ
df_typed = df_dirty \
    .withColumn("id", F.col("id").cast("integer")) \
    .withColumn("amount", F.col("amount_str").cast("double")) \
    .withColumn("clean_date", F.to_date(F.col("event_date"), "yyyy-MM-dd")) \
    .withColumn("correct_date", 
                F.coalesce(
                    F.to_date(F.col("event_date"), "yyyy-MM-dd"), # –ü–æ–ø—ã—Ç–∫–∞ 1: —Ñ–æ—Ä–º–∞—Ç ISO
                    F.to_date(F.col("event_date"), "dd/MM/yyyy")  # –ü–æ–ø—ã—Ç–∫–∞ 2: —Ñ–æ—Ä–º–∞—Ç EU
                )
    )

df_typed.show()

# –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ:
# 1. "ERROR" –ø—Ä–∏ –∫–∞—Å—Ç–µ –≤ double –ø—Ä–µ–≤—Ä–∞—Ç–∏–ª—Å—è –≤ NULL (–±–µ–∑–æ–ø–∞—Å–Ω–æ).
# 2. –ù–µ–ø—Ä–∞–≤–∏–ª—å–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç –¥–∞—Ç—ã –ø—Ä–µ–≤—Ä–∞—Ç–∏–ª—Å—è –≤ NULL –≤ –∫–æ–ª–æ–Ω–∫–µ clean_date, 
#    –Ω–æ –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏–ª—Å—è –≤ correct_date –±–ª–∞–≥–æ–¥–∞—Ä—è coalesce.

+---+----------+----------+--------+------+----------+------------+
| id|event_date|amount_str|discount|amount|clean_date|correct_date|
+---+----------+----------+--------+------+----------+------------+
|  1|2023-01-01|       100|    NULL| 100.0|2023-01-01|  2023-01-01|
|  2|01/02/2023|     ERROR|    50.0|  NULL|      NULL|  2023-02-01|
|  3|2023-02-01|      NULL|     NaN|  NULL|2023-02-01|  2023-02-01|
|  4|      NULL|       200|     0.0| 200.0|      NULL|        NULL|
+---+----------+----------+--------+------+----------+------------+

### –®–∞–≥ 3: –û–±—Ä–∞–±–æ—Ç–∫–∞ Null-–∑–Ω–∞—á–µ–Ω–∏–π (df.na)
–¢–µ–ø–µ—Ä—å —É –Ω–∞—Å –º–Ω–æ–≥–æ Null'–æ–≤. –ö–∞–∫ —Å –Ω–∏–º–∏ —Ä–∞–±–æ—Ç–∞—Ç—å?

#### –°—Ç—Ä–∞—Ç–µ–≥–∏—è 1: –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ (Fill) –ó–∞–º–µ–Ω—è–µ–º Null –Ω–∞ –∫–æ–Ω—Å—Ç–∞–Ω—Ç—É (0 –¥–ª—è —á–∏—Å–µ–ª, "Unknown" –¥–ª—è —Å—Ç—Ä–æ–∫).

In [3]:
# –ó–∞–º–µ–Ω—è–µ–º Null –≤ amount –Ω–∞ 0, –∞ –≤ discount –Ω–∞ 0
df_filled = df_typed.na.fill(value=0, subset=["amount", "discount"])
df_filled.show()

+---+----------+----------+--------+------+----------+------------+
| id|event_date|amount_str|discount|amount|clean_date|correct_date|
+---+----------+----------+--------+------+----------+------------+
|  1|2023-01-01|       100|     0.0| 100.0|2023-01-01|  2023-01-01|
|  2|01/02/2023|     ERROR|    50.0|   0.0|      NULL|  2023-02-01|
|  3|2023-02-01|      NULL|     0.0|   0.0|2023-02-01|  2023-02-01|
|  4|      NULL|       200|     0.0| 200.0|      NULL|        NULL|
+---+----------+----------+--------+------+----------+------------+

#### –°—Ç—Ä–∞—Ç–µ–≥–∏—è 2: –£–¥–∞–ª–µ–Ω–∏–µ (Drop) –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –µ—Å—Ç—å Null –≤ –≤–∞–∂–Ω—ã—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö.

In [4]:
# –£–¥–∞–ª–∏—Ç—å —Å—Ç—Ä–æ–∫—É, –µ—Å–ª–∏ Null –µ—Å—Ç—å –•–û–¢–Ø –ë–´ –í –û–î–ù–û–ô –∏–∑ —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫
df_dropped = df_typed.na.drop(subset=["amount", "clean_date"])
df_dropped.show()

+---+----------+----------+--------+------+----------+------------+
| id|event_date|amount_str|discount|amount|clean_date|correct_date|
+---+----------+----------+--------+------+----------+------------+
|  1|2023-01-01|       100|    NULL| 100.0|2023-01-01|  2023-01-01|
+---+----------+----------+--------+------+----------+------------+

#### –°—Ç—Ä–∞—Ç–µ–≥–∏—è 3: SQL Coalesce (–ü—Ä–∏–æ—Ä–∏—Ç–µ—Ç) –§—É–Ω–∫—Ü–∏—è F.coalesce(c1, c2, c3) –±–µ—Ä–µ—Ç –ø–µ—Ä–≤–æ–µ –Ω–µ-Null –∑–Ω–∞—á–µ–Ω–∏–µ –∏–∑ —Å–ø–∏—Å–∫–∞.

In [5]:
# –õ–æ–≥–∏–∫–∞: –ï—Å–ª–∏ amount –µ—Å—Ç—å - –±–µ—Ä–µ–º –µ–≥–æ. –ï—Å–ª–∏ –Ω–µ—Ç - –±–µ—Ä–µ–º 0.
df_calc = df_typed.withColumn("final_amount", F.coalesce(F.col("amount"), F.lit(0)))
df_calc.select("amount", "final_amount").show()

+------+------------+
|amount|final_amount|
+------+------------+
| 100.0|       100.0|
|  NULL|         0.0|
|  NULL|         0.0|
| 200.0|       200.0|
+------+------------+

–ê–Ω—Ç–∏-–ø–∞—Ç—Ç–µ—Ä–Ω—ã –∏ –û—à–∏–±–∫–∏  
üö´ –û—à–∏–±–∫–∞ 1: –°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å Null —á–µ—Ä–µ–∑ ==  
–ù–µ–≤–µ—Ä–Ω–æ: df.filter(F.col("amount") == None) –∏–ª–∏ == "null".

–ü–æ—á–µ–º—É: –í SQL/Spark Null == Null –¥–∞–µ—Ç Null (False).

–ö–∞–∫ –Ω–∞–¥–æ: .filter(F.col("amount").isNull()) –∏–ª–∏ .isNotNull().

üö´ –û—à–∏–±–∫–∞ 2: –ê—Ä–∏—Ñ–º–µ—Ç–∏–∫–∞ –±–µ–∑ —Å—Ç—Ä–∞—Ö–æ–≤–∫–∏  
–°—Ü–µ–Ω–∞—Ä–∏–π: df.withColumn("total", col("price") + col("tax")).

–ü—Ä–æ–±–ª–µ–º–∞: –ï—Å–ª–∏ tax —Ä–∞–≤–µ–Ω Null (–Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞–ª–æ–≥ –Ω–µ —É–∫–∞–∑–∞–Ω), —Ç–æ total —Ç–æ–∂–µ —Å—Ç–∞–Ω–µ—Ç Null, –∏ –º—ã –ø–æ—Ç–µ—Ä—è–µ–º —Ü–µ–Ω—É.

–ö–∞–∫ –Ω–∞–¥–æ: F.coalesce(col("price"), F.lit(0)) + F.coalesce(col("tax"), F.lit(0)).