In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder.appName("ComplexTypes_Lab").getOrCreate()

# –î–∞–Ω–Ω—ã–µ:
# id: int
# customer: struct (–æ–±—ä–µ–∫—Ç —Å –∏–º–µ–Ω–µ–º –∏ –∞–¥—Ä–µ—Å–æ–º)
# items: array (—Å–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä–æ–≤, –∫–∞–∂–¥—ã–π —Ç–æ–≤–∞—Ä - –º–∞—Å—Å–∏–≤ –∑–Ω–∞—á–µ–Ω–∏–π [–¶–µ–Ω–∞, –ö–æ–ª-–≤–æ]) - —É–ø—Ä–æ—Å—Ç–∏–º –¥–ª—è –Ω–∞—á–∞–ª–∞ –¥–æ —Å–ø–∏—Å–∫–∞ –∏–º–µ–Ω
# tags: map (–¥–∏–Ω–∞–º–∏—á–µ—Å–∫–∏–µ –º–µ—Ç–∫–∏)

data = [
    (1, ("Alice", "NY"), ["iPhone", "Case"], {"priority": "high", "source": "app"}),
    (2, ("Bob", "LA"), ["Samsung"], {"priority": "low"}),
    (3, ("Charlie", "TX"), [], {}) # –ü—É—Å—Ç–æ–π –º–∞—Å—Å–∏–≤ –∏ –ø—É—Å—Ç–∞—è –∫–∞—Ä—Ç–∞
]

# –°–ª–æ–∂–Ω–∞—è —Å—Ö–µ–º–∞
schema = StructType([
    StructField("id", IntegerType()),
    StructField("customer", StructType([
        StructField("name", StringType()),
        StructField("city", StringType())
    ])),
    StructField("items", ArrayType(StringType())),
    StructField("tags", MapType(StringType(), StringType()))
])

df = spark.createDataFrame(data, schema)
df.createOrReplaceTempView("orders")

df.printSchema()
df.show(truncate=False)

root
 |-- id: integer (nullable = true)
 |-- customer: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- city: string (nullable = true)
 |-- items: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- tags: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+---+-------------+--------------+---------------------------------+
|id |customer     |items         |tags                             |
+---+-------------+--------------+---------------------------------+
|1  |{Alice, NY}  |[iPhone, Case]|{priority -> high, source -> app}|
|2  |{Bob, LA}    |[Samsung]     |{priority -> low}                |
|3  |{Charlie, TX}|[]            |{}                               |
+---+-------------+--------------+---------------------------------+

### –î–æ—Å—Ç—É–ø –∫ —ç–ª–µ–º–µ–Ω—Ç–∞–º (Structs & Maps)

In [2]:
# –ó–∞–¥–∞—á–∞: –ü–æ–ª—É—á–∏—Ç—å –∏–º—è –∫–ª–∏–µ–Ω—Ç–∞ (–∏–∑ Struct) –∏ –ø—Ä–∏–æ—Ä–∏—Ç–µ—Ç –∑–∞–∫–∞–∑–∞ (–∏–∑ Map)
sql_basic = spark.sql("""
    SELECT 
        id,
        customer.name as cust_name,       -- Dot notation –¥–ª—è Struct
        customer.city as cust_city,
        tags['priority'] as order_prio,   -- Bracket notation –¥–ª—è Map
        items[0] as first_item            -- Index notation –¥–ª—è Array
    FROM orders
""")

sql_basic.show()

+---+---------+---------+----------+----------+
| id|cust_name|cust_city|order_prio|first_item|
+---+---------+---------+----------+----------+
|  1|    Alice|       NY|      high|    iPhone|
|  2|      Bob|       LA|       low|   Samsung|
|  3|  Charlie|       TX|      NULL|      NULL|
+---+---------+---------+----------+----------+

### –ú–∞–≥–∏—è EXPLODE (Arrays)

–ó–∞–¥–∞—á–∞: –ú—ã —Ö–æ—Ç–∏–º –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –±—ã–ª –ø—Ä–æ–¥–∞–Ω –∫–∞–∂–¥—ã–π —Ç–æ–≤–∞—Ä. –°–µ–π—á–∞—Å —Ç–æ–≤–∞—Ä—ã "—Å–ø—Ä—è—Ç–∞–Ω—ã" –≤–Ω—É—Ç—Ä–∏ –º–∞—Å—Å–∏–≤–∞. –ù–∞–º –Ω—É–∂–Ω–æ –ø—Ä–µ–≤—Ä–∞—Ç–∏—Ç—å –∏—Ö –≤ —Å—Ç—Ä–æ–∫–∏.

In [3]:
# explode(items) –±–µ—Ä–µ—Ç –º–∞—Å—Å–∏–≤ ["iPhone", "Case"] –∏ —Å–æ–∑–¥–∞–µ—Ç 2 —Å—Ç—Ä–æ–∫–∏ –¥–ª—è –∑–∞–∫–∞–∑–∞ ‚Ññ1.
# –û—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ (id, customer) –¥—É–±–ª–∏—Ä—É—é—Ç—Å—è.

sql_exploded = spark.sql("""
    SELECT 
        id, 
        customer.name, 
        explode(items) as item_name 
    FROM orders
""")

sql_exploded.show()
# –ó–∞–º–µ—Ç—å—Ç–µ: –ó–∞–∫–∞–∑ ‚Ññ3 (Charlie) –∏—Å—á–µ–∑! 
# –ü–æ—á–µ–º—É? –ü–æ—Ç–æ–º—É —á—Ç–æ –º–∞—Å—Å–∏–≤ –ø—É—Å—Ç–æ–π. Explode —Ä–∞–±–æ—Ç–∞–µ—Ç –∫–∞–∫ Inner Join —Å –º–∞—Å—Å–∏–≤–æ–º.

+---+-----+---------+
| id| name|item_name|
+---+-----+---------+
|  1|Alice|   iPhone|
|  1|Alice|     Case|
|  2|  Bob|  Samsung|
+---+-----+---------+

### POSEXPLODE –∏ OUTER (–î–ª—è –ø—Ä–æ—Ñ–∏)

–ß—Ç–æ –¥–µ–ª–∞—Ç—å, –µ—Å–ª–∏ –º—ã —Ö–æ—Ç–∏–º —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –ø—É—Å—Ç—ã–µ –º–∞—Å—Å–∏–≤—ã (–∫–∞–∫ Left Join)? –ò –Ω–∞–º –Ω—É–∂–µ–Ω –∏–Ω–¥–µ–∫—Å —ç–ª–µ–º–µ–Ω—Ç–∞ –≤ –º–∞—Å—Å–∏–≤–µ?

In [4]:
# explode_outer - —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç —Å—Ç—Ä–æ–∫–∏ —Å –ø—É—Å—Ç—ã–º–∏ –º–∞—Å—Å–∏–≤–∞–º–∏ (–±—É–¥–µ—Ç null)
# posexplode - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —ç–ª–µ–º–µ–Ω—Ç + –µ–≥–æ –ø–æ–∑–∏—Ü–∏—é (–∏–Ω–¥–µ–∫—Å)

sql_advanced = spark.sql("""
    SELECT 
        id, 
        pos,
        item
    FROM orders 
    LATERAL VIEW outer posexplode(items) as pos, item
""")
# LATERAL VIEW - –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å Hive –¥–ª—è —Ç–∞–∫–∏—Ö –æ–ø–µ—Ä–∞—Ü–∏–π.
# –í Spark 3.x –º–æ–∂–Ω–æ –ø–∏—Å–∞—Ç—å –∏ –≤ select, –Ω–æ LATERAL VIEW —á–∞—Å—Ç–æ –ø–æ–Ω—è—Ç–Ω–µ–µ.

sql_advanced.show()
# Charlie –≤–µ—Ä–Ω—É–ª—Å—è! (pos=null, item=null)

+---+----+-------+
| id| pos|   item|
+---+----+-------+
|  1|   0| iPhone|
|  1|   1|   Case|
|  2|   0|Samsung|
|  3|NULL|   NULL|
+---+----+-------+

### –ê–Ω—Ç–∏-–ø–∞—Ç—Ç–µ—Ä–Ω—ã –∏ –û—à–∏–±–∫–∏
üö´ –û—à–∏–±–∫–∞ 1: Data Explosion (–í–∑—Ä—ã–≤ –¥–∞–Ω–Ω—ã—Ö)  
- –°—Ü–µ–Ω–∞—Ä–∏–π: –£ –≤–∞—Å –µ—Å—Ç—å –º–∞—Å—Å–∏–≤ –∏–∑ 1000 —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –≤ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ. –ò 1 –º–∏–ª–ª–∏–∞—Ä–¥ —Å—Ç—Ä–æ–∫.
- –î–µ–π—Å—Ç–≤–∏–µ: –í—ã –¥–µ–ª–∞–µ—Ç–µ explode(array).
- –†–µ–∑—É–ª—å—Ç–∞—Ç: 1 –º–ª—Ä–¥ * 1000 = 1 —Ç—Ä–∏–ª–ª–∏–æ–Ω —Å—Ç—Ä–æ–∫.
- –ü–æ—Å–ª–µ–¥—Å—Ç–≤–∏–µ: Shuffle —É–º–∏—Ä–∞–µ—Ç, –¥–∏—Å–∫ –ø–µ—Ä–µ–ø–æ–ª–Ω—è–µ—Ç—Å—è, –¥–∂–æ–±–∞ –ø–∞–¥–∞–µ—Ç.
- –°–æ–≤–µ—Ç: –í—Å–µ–≥–¥–∞ –ø—Ä–æ–≤–µ—Ä—è–π—Ç–µ size(array) –ø–µ—Ä–µ–¥ explode –∏–ª–∏ –¥–µ–ª–∞–π—Ç–µ —ç—Ç–æ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

üö´ –û—à–∏–±–∫–∞ 2: sort_array –±–µ–∑ –ø–æ–Ω–∏–º–∞–Ω–∏—è —Ç–∏–ø–æ–≤
- –°—Ü–µ–Ω–∞—Ä–∏–π: –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –º–∞—Å—Å–∏–≤–∞ —Å—Ç—Ä—É–∫—Ç—É—Ä.
- –ü—Ä–æ–±–ª–µ–º–∞: Spark –±—É–¥–µ—Ç —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ –≤—Å–µ–º –ø–æ–ª—è–º —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –ø–æ –æ—á–µ—Ä–µ–¥–∏. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –æ—á–µ–Ω—å –¥–æ—Ä–æ–≥–æ.